.menu__basket-count {
    width: 14px;
    height: 14px;
    padding-bottom: 1px;
    padding-left: 1px;
}

.header {
    border-bottom: none;
}

.product__title {
    font-weight: 600;
}

.catalog__item-footer {
    height: inherit;
}

.catalog__item-price-crossed,
.product__price-crossed,
.basket-aside__price-crossed,
.carousel__price-crossed,
.cart__price-crossed {
    text-decoration-line: line-through;
    color: #989690;
}

/*.catalog__container {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(8, 1fr);*/
/*}*/

/*.catalog__container div {*/
/*    grid-column: span 6;*/
/*}*/

/*.catalog__nav {*/
/*    grid-column: span 2;*/
/*}*/


