.home .header {
  background-color: transparent;
  color: #ffffff;
}

.home .navbar-brand {
  color: #ffffff;
  pointer-events: none;
}

.home .btn-link,
.home .menu__link,
.home .menu__icon {
  color: #ffffff;
  transition: opacity 0.15s;
}

.home .btn-link:hover,
.home .menu__link:hover,
.home .menu__icon:hover {
  opacity: 0.6;
}

.home .m-search:hover .menu__icon{
  color: #000000;
}



.home .nav-trigger__icon {
  background-color: #ffffff;
}

.home .layout__navbar .nav-trigger__icon::before,
.home .layout__navbar .nav-trigger__icon::after {
  background-color: #ffffff;
}

