.checkout-loading-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    opacity: .7;
    display: none;
}

form[name='yandexapi_form'] {
    display: none;
}

.container.thank-order__container .mb-4 {
    display: none;
}
