.checkout-loading-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    opacity: .7;
    display: none;
}


.ya_cashier {
    display: flex;
    justify-content: center;
}

.js-ya_cashier_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 384px;
    min-height: 56px;
    left: 16px;
    top: 296px;
    margin: 0 auto;
    background: #212121;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    padding: 0 15px;
}

.SDEK_selectPVZ~.sdek-loading {
    display: none;
}

font.errortext {
    color: red !important;
}

.option__description {
    padding: 8px 32px 16px;
}