.checkout-loading-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    opacity: .7;
    display: none;
}

form[name='yandexapi_form'] {
    display: none;
}

.ya_cashier {
    display: none;
}

.js-ya_cashier_link {
    width: 100%;
    max-width: 384px;
    height: 56px;
    left: 16px;
    top: 296px;
    margin: 0 auto;
    background: #212121;
}
