.header {
    border-bottom: none;
}

@media only screen and (max-width: 320px) {
    .header__basket-text {
        display: none;
    }
}

.catalog__item-price-crossed,
.product__price-crossed,
.basket-aside__price-crossed {
    text-decoration-line: line-through;
    color: #989690;
}

