.header {
    border-bottom: none;
}

@media only screen and (max-width: 320px) {
    .header__basket-text {
        display: none;
    }
}

.catalog__item-price-crossed,
.product__price-crossed,
.basket-aside__price-crossed,
.carousel__price-crossed,
.cart__price-crossed {
    text-decoration-line: line-through;
    color: #989690;
}

.sdek_pvzLair a
{
    padding:8px 20px;
    background-color: rgba(33, 33, 33, .4);
    border-color: rgba(33, 33, 33, .4);
    background-clip: padding-box;
    color: #fff;
}

